@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>

<p>Данный сайт разработан с целью предоставления услуг автомобильных перевозок.
    Здесь Вы можете заказать перевозки грузов различных видов по странам СНГ, Прибалтики и Еврозоны.</p>
