
@{
    ViewBag.Title = "Перевозка комплектных грузов";
}

<h2>Перевозка комплектных грузов</h2>
<br />

<div class="container">
    <div>
        <p>
            Под комплектными грузами принято понимать специальный вид грузов,
            предназначенный для одного конкретного получателя и занимающие всё грузовое пространство выделенного транспортного средства.
        </p>
        <p>
            Именно транспортировка комплектных грузов является повышенным приоритетом для компании.
            К числу используемой техники можно отнести: тенты, автосцепки, рефрижераторы, цистерны и многое другое.
        </p>
    </div>
    <div>
        <h3>География перевозок комплектных грузов</h3>
        <p>
            География автомобильных перевозок грузов компаний включает в себя все виды перевозок из Европы в Беларусь,
            из Европы в страны СНГ, между странами СНГ. 
            Возможны также перевозки внутри СНГ и внутри Европы.
        </p>
        <p>
            К числу наиболее распространённых грузов относятся:
        </p>
        <ul>
            <li>
                — химические и опасные грузы;
            </li>
            <li>
                — пищевые грузы;
            </li>
            <li>
                — строительные грузы и оборудование;
            </li>
            <li>
                — грузы с соблюдением температурного режима и т.д.
            </li>
        </ul>
    </div>

    <div style="text-align:center">
        <h3>Отправьте заявку прямо сейчас!</h3>
        <br />
        <div>
            @Html.ActionLink("Расчёт ставки", "CalcRate", "Orders", new { }, new { @class = "btn btn-primary" })
        </div>        
    </div>    
</div>

