@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<br />

<address>
    <strong>Поддержка:</strong>   <a href="mailto:shabolda.artem@gmail.com">shabolda.artem@gmail.com</a><br />
</address>