
@{
    ViewBag.Title = "Опасные грузы";
}

<h2>Международные перевозки опасных грузов</h2>
<br />

<div class="container">
    <div>
        <p>
            Ищете специалистов, которые возьмутся за перевозку опасного груза и подберут маршрут по подходящей стоимости и срокам доставки?
            Данная компания разработает индивидуальный маршрут транспортировки из/в Беларусь и организуем поставку в оговоренные сроки!
        </p>
    </div>

    <div style="text-align:center">
        <h3>Отправьте заявку прямо сейчас!</h3>
        <br />
        <div>
            @Html.ActionLink("Расчёт ставки", "CalcRate", "Orders", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

