
@{
    ViewBag.Title = "Перевозка сборных грузов";
}

<h2>Перевозка сборных грузов</h2>
<br />

<div class="container">
    <div>
        <p>
            Компания специализируется на доставке сборных грузов.
            Мы работаем с грузами любого размера и любых характеристик.
            Нам доверяют провести автомобильные транспортные перевозки сборных грузов любой сложности между странами Азии, Европы и СНГ.
        </p>
        <p>
            С нами всегда выгодно, ведь консолидированные поставки от профессионалов данной компании — это:
        </p>
        <ul>
            <li>
                — регулярные сборные линии с согласованным расписанием и точными сроками доставки;
            </li>
            <li>
                — услуга адресной доставки и поставки по схеме «от двери до двери»;
            </li>
            <li>
                — прием грузов любой массой, начиная от 1 кг;
            </li>
            <li>
                — доставка малогабаритных грузов отдельными малотоннажными автомобилями;
            </li>
            <li>
                — дополнительными услугами станут таможенные операции и оформление пакета товаросопроводительных документов;
            </li>
            <li>
                — собственные оборудованные склады в России и Польше, 
                где грузы подлежат хранению и подготовке к последующим этапам перемещения;
            </li>
            <li>
                — экспортная таможенная очистка грузов и полное документальное сопровождение;
            </li>
            <li>
                — проведение непосредственного международного отправления приобретенного через нашу компанию товара в страны СНГ из Европы;
            </li>
            <li>
                — корректная сертификация ввозимых грузов;
            </li>
            <li>
                — страхование груза при перевозке
            </li>
        </ul>
    </div>
    <div>
        <h3>Международные перевозки сборных грузов — география:</h3>
        <ul>
            <li>
                — в страны Европы;
            </li>
            <li>
                — импорт из Азии, Европы в Россию, Беларусь;
            </li>
            <li>
                — в пределах СНГ;
            </li>
            <li>
                — внутри Европы.
            </li>
        </ul>
        <h3>Этапы отправки сборных грузов</h3>
        <p>
            <strong>Объединение</strong> небольших грузов в складских помещениях организации.
        </p>
        <p>
            <strong>Упаковка</strong> отправляемой продукции (по желанию заказчика).
        </p>
        <p>
            <strong>Формирование партии</strong> 
            с учетом направления международных перевозок сборных грузов – в страны Европы, Прибалтики, СНГ.
        </p>
        <p>
            <strong>Разработка схемы</strong>
             транспортировки по наиболее короткому маршруту с учетом доставки «до двери».
        </p>
        <p>
            <strong>Подготовка</strong> документации, необходимой для перевозки.
        </p>
        <p>
            <strong>Отправление и доставка</strong> – транспортные перевозки сборных грузов из Европы осуществляются 1 раз в неделю,
            наш сотрудник контролирует движение транспорта по маршруту и поддерживает диспетчерскую связь.
        </p>
    </div>

    <div style="text-align:center">
        <h3>Отправьте заявку прямо сейчас!</h3>
        <br />
        <div>
            @Html.ActionLink("Расчёт ставки", "CalcRate", "Orders", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


