@{
    ViewBag.Title = "Главная страница";
}

<div class="img-circle" style="text-align: center">
    <a href="~/Orders/CalcRate">
        <img src="~/Content/imgs/154251.jpeg" />
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <a href="~/Home/GroupageLoadsInfo" class="btn-link">
            <img src="~/Content/imgs/iconGroupage.svg" style="height:200px" class="btn-default" />
            <h2>Сборные грузы</h2>
        </a>
    </div>
    <div class="col-md-3">
        <a href="~/Home/CompleteLoadsInfo" class="btn-link">
            <img src="~/Content/imgs/Servizi-SpedizioniTerra.png" style="height:200px" class="btn-default" />
            <h2>Комплектные грузы</h2>
        </a>
    </div>
    <div class="col-md-3">
        <a href="~/Home/DangerousLoadsInfo" class="btn-link">
            <img src="~/Content/imgs/screenshot2874b02.png" style="height:200px" class="btn-default" />
            <h2>Опасные грузы</h2>
        </a>
    </div>
    <div class="col-md-3">
        <a href="~/Home/RefrigeratedTransportInfo" class="btn-link">
            <img src="~/Content/imgs/tild3064-3836-4438-b538-663337316133__5744279c80d7f4f1023b.png" style="height:200px" class="btn-default" />
            <h2>Рефрижераторные перевозки</h2>
        </a>
    </div>
</div>