
@{
    ViewBag.Title = "Виды транспорта";
}

<h2>Основные виды транспорта для перевозки грузов</h2>

<br />

<div class="container">

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/polupricep.png" />
        </div>
        <div class="col-xs-8">
            <h3>Полуприцеп</h3>
            <p>Самый распространенный тип кузова. Пригоден для перевозки большинства грузов.</p>
            <p>Растентовка позволяет производить загрузку сверху и сбоку.</p>
            <p>Грузоподъемность: 20-25 тонн.</p>
            <p>Полезный объем: 60-92 м3.</p>
            <p>Вместимость: 22-33 европаллета.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/refrizherator.png" />
        </div>
        <div class="col-xs-8">
            <h3>Рефрижератор</h3>
            <p>
                Полуприцеп-холодильник. Пригоден для перевозки большинства видов
                скоропортящихся продуктов и грузов со специфическими условиями хранения: от +25°С до-25°С.
                В эксплуатации дороже других видов автотранспорта на 5-25%.
            </p>
            <p>Грузоподъемность: 12-22 тонн.</p>
            <p>Полезный объем: 60-92 м3.</p>
            <p>Вместимость: 24-33 европаллета.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/avtopoezd.png" />
        </div>
        <div class="col-xs-8">
            <h3>«Автопоезд»</h3>
            <p>
                Автомобиль с кузовом на одной раме + прицеп.
            </p>
            <p>Преимущество: быстрая погрузка и большой полезный объем.</p>
            <p>Недостаток: не пригоден для перевозки длинномерных грузов.</p>
            <p>Грузоподъемность: 16-25 тонн.</p>
            <p>Полезный объем: 60-120 м3.</p>
            <p>Вместимость: 22-33 европаллета.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/izoterm.png" />
        </div>
        <div class="col-xs-8">
            <h3>Изотерм (Термос)</h3>
            <p>
                Предназначен для перевозки продуктов питания.
                Может удерживать определенную температуру длительное время.
                Бывает полуприцеп, автосцепка и одиночный.
            </p>
            <p>Грузоподъемность: 3-25 тонн.</p>
            <p>Полезный объем: 32-92 м3.</p>
            <p>Вместимость: 6-33 европаллета.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/platforma-negabarit.png" />
        </div>
        <div class="col-xs-8">
            <h3>Платформа для негабаритных грузов.</h3>
            <p>
                Применяется для перевозки негабаритных грузов, в том числе строительной и спецтехники.
            </p>
            <p>Грузоподъемность: 20-40 тонн.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/otkritaya-platforma.png" />
        </div>
        <div class="col-xs-8">
            <h3>Открытая платформа</h3>
            <p>
                Применяется для перевозки грузов, устойчивых к внешним погодным воздействиям.
                Может также использоваться для перевозки негабаритного оборудования.
            </p>
            <p>Грузоподъемность: 15-20 тонн.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/imgs/jumbo.png" />
        </div>
        <div class="col-xs-8">
            <h3>«Jumbo»</h3>
            <p>
                Полуприцеп большей вместимости. 
                Это достигается за счет специального Г-образного пола и уменьшенного диаметра колес полуприцепа.
            </p>
            <p>Грузоподъемность: до 20 тонн.</p>
            <p>Полезный объем: 96-125 м3.</p>
            <p>Вместимость: 33 европаллета.</p>
        </div>
    </div>
</div>

