
@{
    ViewBag.Title = "Рефрижераторные перевозки";
}

<h2>Рефрижераторные перевозки</h2>
<br />

<div class="container">
    <div>
        <p>
            В ряду автоперевозок рефрижераторные грузоперевозки остаются наиболее сложным и ответственным участком работы.
            Важными задачами остается соблюдение заданного температурного режима, а также минимизация срока поставок.
            Нестыковки или сложности любого рода попросту приведут к неминуемой порче продуктов,
            что недопустимо в условиях ограниченности ресурсов и времени.
        </p>
        <p>
            В настоящее время, требования к установившейся температуре в грузовых отсеках автотранспорта определяют
            рефрижераторы таких типов:
        </p>
        <ul>
            <li>
                — класс А, диапазон температур в пределах от +15оС до 0оС;
            </li>
            <li>
                — класс Б, диапазон температур от +15оС до -10оС;
            </li>
            <li>
                — класс С, диапазон температур от +15оС до -20оС.
            </li>
        </ul>
    </div>
    <div>
        <h3>Используемые виды транспорта</h3>
        <p>
            С целью надежного перемещения грузов, мы используем:
        </p>
        <ul>
            <li>
                — специализированный грузовой автотранспорт с интегрированной холодильной установкой: рефрижератор.
                Такие авто незаменимы для транспортировки пищевых продуктов, лекарственных средств и прочих изделий,
                чувствительных к температурному режиму;
            </li>
            <li>
                — двухъярусные рефрижераторы (для особо крупных партий товаров);
            </li>
            <li>
                — двухкамерные рефрижераторы, которые позволяют осуществлять раздельное хранение и 
                соблюдение в обособленных камерах различной температуры;
            </li>
            <li>
                — изотермические фургоны.
            </li>
        </ul>
    </div>

    <div style="text-align:center">
        <h3>Отправьте заявку прямо сейчас!</h3>
        <br />
        <div>
            @Html.ActionLink("Расчёт ставки", "CalcRate", "Orders", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
