
@{
    ViewBag.Title = "Услуги";
}


<div class="container">
    <h2>Наши услуги</h2>

    <p>
        Мы предоставляем оптимальные маршруты с оперативными сроками достаки в несколько дней и доступной стоимостью,
        перевезём груз в любой населенный пункт.
    </p>
    <h2>География перевозок</h2>
    <p>
        - страны Западной Европы: Бельгия, Голландия, Италия, Великобритания, Австрия, Ирландия, Германия, Франция и другие;
        - Прибалтика;
        - Восточная Европа: Хорватия, Сербия, Венгрия, Молдавия, Словакия, Польша, Чехия;
        - страны СНГ: Таджикистан, Туркменистан, Армения, Беларусь, Россия, Казахстан.
    </p>
</div>
<hr />

<div class="row" style="text-align:center">
    
    <div class="col-md-3">
        <a href="~/Home/GroupageLoadsInfo">
            <img src="~/Content/imgs/sborn2.jpg" style="width: 280px" />
            <h2>Сборные грузы</h2>
        </a>
        <p>
            Компания специализируется на организации и проведении доставки сборных грузов.
        </p>
    </div>
    
    
    <div class="col-md-3">
        <a href="~/Home/CompleteLoadsInfo">
            <img src="~/Content/imgs/komplektnye-gruzy.jpg" style="width: 280px" />
            <h2>Комплектные грузы</h2>
        </a>        
        <p>
            Под комплектными грузами принято понимать специальный вид грузов, предназначенный для одного конкретного получателя
            и занимающие всё грузовое пространство транспортного средства.
        </p>
    </div>
       
    
    <div class="col-md-3">
        <a href="~/Home/DangerousLoadsInfo">
            <img src="~/Content/imgs/ops-gruzy.jpg" style="width: 290px" />
            <h2>Опасные грузы</h2>
        </a>
        <p>
            Данная компания имеет практику обращения с опасными грузами. Мы гарантируем качество выполнения международных перевозок,
            а также выгодную стоимость любых услуг.
        </p>
    </div>
       
    <div class="col-md-3">
        <a href="~/Home/RefrigeratedTransportInfo">
            <img src="~/Content/imgs/ref5.jpg" style="width: 280px" />
            <h2>Рефрижераторные грузы</h2>
        </a>
        <p>В ряду автоперевозок рефрижераторные грузоперевозки остаются наиболее сложным и ответственным участком работы. 
        Важными задачами остается соблюдение заданного температурного режима, а также минимизация срока поставок.</p>
    </div>
</div>




